@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* font-size reset */
html {
  font-size: 10px;
}

/* font setup */
body, input, button {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
}

/* formatação geral dos textos */
h1, h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: 3.7rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

/* ====== header ====== */
header {
  background-color: #333;
  height: 5.4rem;
  padding: 0.9rem 6rem;

  display: flex;
  align-items: center;

  /* box-shadow: 0 .6rem .9rem rgba(0,0,0, .15);
  z-index: 3000;
  position: fixed;
  width: 100%; */
}

header .logo {
  width: 11.3rem;
  height: auto;
  display: block;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  margin: auto 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li:not(:last-child) {
  margin-right: 2.4rem;
}

header nav a {
  text-decoration: none;
  color: #f9f9f9;
}

header nav a:active,
header nav a:hover {
  color: #128761;
  font-weight: 600;
}

/* ====== banner ====== */
.banner {
  background-color: #f9f9f9;
  padding: 6rem;

  display: flex;
  align-items: center;
}

.banner div {
  width: 50%;
}

.banner h1 {
  font-size: 6rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.banner h1 span {
  display: block;
  font-weight: 600;
  text-decoration: underline;

  color: #128761;
}

.banner p {
  margin-bottom: 4.5rem;
}

.btn {
  background-color: #128761;
  padding: 1.8rem 3.2rem;
  
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  
  border: none;
  border-radius: 0.6rem;

  cursor: pointer;
}

.banner .foto-perfil {
  text-align: center;
}

.banner .foto-perfil img {
  margin-bottom: -14rem;
}


/* ====== habilidades ====== */

.habilidades {
  background-color: #f1f1f1;
  padding: 9rem 6rem;
}

.lista-habilidades {
  display: flex;
  justify-content: space-between;
}

.cartao-habilidade {
  width: calc(33.3% - 3rem);
  background-color: #fff;
  border-radius: .6rem;
  padding: 1.8rem 2.4rem;

  box-shadow: 0 .6rem .9rem rgba(0,0,0, .15);
}

.cartao-habilidade span {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  
  padding: 1.3rem;
  margin-bottom: 3rem;
  
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.cartao-habilidade:nth-child(1) span {
  background-color: #0C7494;
}

.cartao-habilidade:nth-child(2) span {
  background-color: #128761;
}

.cartao-habilidade:nth-child(3) span {
  background-color: #871F3E;
}


/* ===== Experiências ===== */

.experiencias {
  padding: 9rem 6rem;
  background-color: #f9f9f9;
}

.lista-experiencias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-experiencias > div {
  width: 50%;
}

.foto-experiencia {
  background-image: url('../img/imgEscola.jpg'); background-size: cover; background-position: center; height: 34.1rem;

  margin-right: 3rem;
}

.area-tabela-experiencias {
  border-left: #c4c4c4 solid .1rem;
  padding: 3rem;
}

.area-tabela-experiencias table tr {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.area-tabela-experiencias table td:nth-child(2) {
  padding-left: 6rem;
}

.area-tabela-experiencias table tr:not(:last-child) {
  margin-bottom: 3.3rem;
}

/* ====== Boletim informativo ===== */
.boletim {
  padding: 9rem 6rem;

  background-color: #444;
  color: #f9f9f9;
}

.boletim form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boletim form > div, .boletim form > p {
  width: 50%;
}

.boletim form input {
  padding: 1.8rem 3.2rem;
  border: none;
  border-radius: .6rem;

  width: calc(62% - 0.9rem);
}

/* ===== footer ===== */
footer {
  padding: 2.4rem 6rem;

  background-color: #333;
  color: #f9f9f9;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: #f9f9f9;
  text-decoration: none;
}

footer .siga {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .siga span {
  font-weight: 600;
  margin-right: 3rem;
}

footer .siga a {
  width: 4.5rem;
  height: 4.5rem;
  display: inline-block;

  color: #128761;
  
  border-radius: 50%;
  background-color: #f9f9f9;
  box-shadow: 0 .6rem .9rem rgba(0,0,0, .15);
}

footer .siga a:not(:last-child) {
  margin-right: 1.8rem;
}